
<h3>Login</h3>
<form>
    <table>
        <tr>
            <td><label for="">Nombre Usuario</label></td>
            <td><input type="text" id="txtUsuario" name="txtUsuario" ng-model="$ctrl.userName"></td>
        </tr>
        <tr>
            <td><label for="">Password</label></td>
            <td><input type="password" id="txtPass" name="txtPass" ng-model="$ctrl.pass"></td>
        </tr>
        <tr>
            <td><button ng-click="$ctrl.login()">Login</button></td>
        </tr>
    </table>
</form>